body {
    background-color: #cfc7e2;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

@supports (-webkit-touch-callout: none) {
    #scan-qr-code {
        display: none;
    }
}

#add-to-home-screen {
    height: 80%;
    display: none;
    background-color: bisque;
    padding: 10px 10px 20%;
}

#add-to-home-screen img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%
}

#scan-qr-code img {
    display: block;
    max-width: 100%
}

#subscribe_btn {
    display: block;
    width: 100%;
    line-height: 2
}

#active_sub {
    display: none;
    background-color: #e7e7ff;
    padding: 20px;
    word-wrap: break-word;
}

#source_link {
    position: fixed;
    bottom: 10px;
    color: #fff;
    left: 10px;
}
