body {
    background-color: #cfc7e2;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding-bottom: 50px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

@supports (-webkit-touch-callout: none) {
    #scan-qr-code {
        display: none;
    }
}

#add-to-home-screen {
    display: none;
    background-color: bisque;
    padding: 10px;
}

#add-to-home-screen img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    max-height: 500px;
    max-width: 100%
}

#scan-qr-code img {
    display: block;
    max-width: 100%
}

#subscribe_btn, #test_send_btn {
    display: none;
    width: 100%;
    line-height: 2;
    font-size: 20px;
    margin-top: 10px;
}

#active_sub {
    display: none;
    background-color: #e7e7ff;
    padding: 20px;
    word-wrap: break-word;
}

#source_link {
    position: fixed;
    bottom: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    left: 10px;
}
